<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="ikuzo.kimi.densha.vo.Member" alias="Member" />
		<typeAlias type="ikuzo.kimi.densha.vo.Board" alias="Board" />
		<typeAlias type="ikuzo.kimi.densha.vo.Reply" alias="Reply" />
	</typeAliases>
	<mappers>
		<mapper resource="mapper/memberMapper.xml" />
	</mappers>
</configuration>
