<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 익명게시판 처리 SQL -->
<mapper namespace="ikuzo.kimi.densha.dao.anonyBoardMapper">



	<select id="view" resultType="anonyBoard" parameterType="map">
		select
		num
		,name
		,to_char(writedate, 'yyyy-MM-dd hh:mi')
		writedate
		from anonyboard
		<where>
			<if test="searchmethod == 'all'">
				title like '%' || #{search} || '%'
				and text like '%' || #{search} || '%'
			</if>
			<if test="searchmethod == 'names'">
				name like '%' || #{search} || '%'
			</if>
			<if test="searchmethod == 'titles'">
				title like '%' || #{search} || '%'
			</if>
		</where>
		order by num desc

	</select>

	<select id="listall" resultType="int" parameterType="map">
		select count(*) from anonyboard
		<if test="searchmethod == 'all'">
			where title like '%' || #{search} || '%'
			or text like '%'
			|| #{search} || '%'
		</if>
		<if test="searchmethod == 'names'">
			where name like '%' || #{search} || '%'
		</if>
		<if test="searchmethod == 'titles'">
			where title like '%' || #{search} || '%'
		</if>
		<if test="searchmethod == 'none'">

		</if>

	</select>

	<insert id="write" parameterType="anonyBoard">
		insert into anonyboard
		(
		num
		,text
		,name
		<if test="savefile !=null">
			,savefile
			,originalfile
		</if>
		)
		values
		(
		board3_seq.nextval
		,#{text}
		,#{name}
		<if test="savefile !=null">
			,#{savefile}
			,#{originalfile}
		</if>
		)

	</insert>

	<select id="download" parameterType="int" resultType="anonyBoard">
		select
		savefile, originalfile
		from anonyboard
		where
		num = #{num}
	</select>

	<select id="writeview" parameterType="int" resultType="anonyBoard">
		select *
		from anonyboard
		where
		num = #{num}
	</select>

	<delete id="delete" parameterType="map">
		delete anonyboard where num =
		#{num} and name = #{name}
	</delete>

	<update id="modify" parameterType="anonyBoard">
		update anonyboard
		text = #{text}
		<if test="savefile != null">
			,savefile = #{savefile},
			originalfile = #{originalfile}
		</if>
		where num = #{num} and name = #{name}


	</update>


	
	
	
</mapper>