<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- favortie 처리 SQL -->
<mapper namespace="ikuzo.kimi.densha.dao.favoriteMapper">

	
	<select id="searchStation" parameterType="string" resultType="Station">
		select
		*
		from station
		where station_nm like '%' || #{stationName} || '%'
	</select>

	
	<select id="DBstation" parameterType="map" resultType="Station">
		select
		*
		from station
		where station_nm2 = #{name} and line_num= #{line}
	</select>

	<select id="myFavorites" parameterType="string" resultType="favorite">
		select
			*
		from 
			favorite
		where 
			id = #{id}
	</select>

<!-- 	insert -->
	<insert id="newFavorite" parameterType="favorite">
		insert into
		favorite
		values(#{id},#{favoriteName},#{stationCode},sysdate,#{line},#{fcode})
	</insert>
<!-- 	insert -->
	<delete id="deleteFavorite" parameterType="favorite">
		delete 
			favorite 
		where	
			id = #{id} 
		and 
			favoritename = #{favoriteName}
	</delete>

</mapper>
